* {
    padding: 0;
    margin: 0;
}

.navbar a{
    text-decoration: none;
    color: #000;
    text-align: center;
    font-family: Inria Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 56px;
    justify-content: center;
}

.navbar {
    width: 962px;
    height: 56px;
    position: absolute;
    top: 45px;
    left: 895px;
    display: flex;
    justify-content: space-between;
}