<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" type="text/css" href="css/home.css" />
</head>
<body>
    <div class="top-part">
        <%- include('../partials/navbar') %>
        <h1 class="home-h1">Hello, I’m Much.</h1>
        <h1 class="home-h1">A programmer.</h1>
    </div>

    <%- include('../partials/script') %>
</body>
</html>
